.contentSpace {
    max-width: 471px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.menu {
    position: relative;
    z-index: 1;
    height: 86px;
    box-shadow: 0 0 15px gray;
}

input {
    width: 227px;
    height: 47px;
    border: 1px black solid;
    margin-top: 19px;
}

input[value] {
    font-size: 14px;
    color: #A4A4A4;
    padding-left: 16px;
}

.iconSearch {
    font-size: 16px;
    margin-left: -30px;
}

.iconBars {
    font-size: 29px;
    margin-top: 30px;
}