.header {
    position: relative;
    z-index: 2;
    height: 145px;
    background-color: #363636;
}

.contentSpace {
    max-width: 471px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.numberPhone {
    font-size: 17px;
    font-weight: bold;
    margin-top: 65px;
}

.numberPhone a {
    text-decoration: none;
    color: #D8D8D8;
}

.numberPhone a:hover {
    text-decoration: underline;
}

.logotype {
    margin-top: 37px;
}

.basket {
    width: 45px;
    height: 45px;
    background-color: #D58E32;
    border-radius: 6px;
    color: white;
    margin-top: 50px;
}

.numberProducts {
    width: 25px;
    height: 26px;
    background-color: #363636;
    border-radius: 50%;
    margin-left: 33px;
    margin-top: -22px;
}

.numberProducts span {
    position: absolute;
    margin-left: 8px;
    margin-top: 4px;
    font-size: 12px;
}

.iconBasket {
    margin-left: 9px;
    margin-top: 14px;
    font-size: 18px;
}
