.navbar {
    height: 54px;
    background-color: #434343;
}

.contentSpace {
    max-width: 471px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.navContent span {
    padding-left: 15px;
    color: white;
    font-size: 14px;
}

.usd {
    margin-left: -15px;
}

.navContent span a {
    color: white;
    text-decoration: none;
}

.navContent span a:hover {
    text-decoration: underline;
}

.navLink {
    margin-left: 9px;
}